/* Estilos para o layout */
.main-container {
    justify-content: center;
    align-items: center;
}

.section-check {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(250, 214, 214, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.checkout-container {
    width: 70%;
    padding: 0 15%;
    height: 30vh;
    overflow-y: auto;
}

.checkout-item {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.checkout-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.checkout-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.checkout-item p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.checkout-item p:first-child {
    font-weight: bold;
}

.no-items {
    font-size: 1.1rem;
    color: #ff4c4c;
    text-align: center;
    padding: 10px;
    background-color: #ffe6e6;
    border-radius: 8px;
    margin-top: 20px;
}

.checkout-container>:first-child{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--main);
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 3%;
    gap: 5%;
    cursor: pointer;
}

table{
    width: 100%;
    height: auto;
    text-align: center;
}
table thead tr th{
    font-size: 20px;
    background-color: var(--main);
    color: #ffffff;
}
table tbody tr td{
    font-size: 20px;
}
@media(max-width: 900px){
    .checkout-container{
        width: 90%;
        padding: 0 5%;
    }
}
@media(max-width: 500px){
    
}